<div>
  <h2>Listagem de Vagas</h2>
</div>

<div class="card p-shadow-6">
  <div style="padding: 1%;">
    <form [formGroup]="formPesquisaVagas">
    <div  class="grid p-fluid">
      <div class="col-10">
        <input formControlName="filtro" pInputText placeholder="Pesquisar vaga" (input)="filtrar()" />
      </div>
      <div class="col-2"  *ngIf="isAdmin">
          <button pButton type="button" icon="pi pi-plus" label="Cadastro" routerLink="/vagas/create"
            routerLinkActive="active"></button>
      </div>
    </div>
    </form>

    <p-table [value]="vagasFiltradas">
      <ng-template pTemplate="header">
        <tr>
          <th>Titulo</th>
          <th>Descrição</th>
          <th width="10px"></th>
          <th width="10px"></th>
          <th width="10px"></th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.titulo }}</td>
          <td>{{ row.descricao }}</td>
          <td width="10px">
            <button pButton type="button" icon="pi pi-search" [routerLink]="['/vagas', row.id]"></button>
          </td>
          <td width="10px" *ngIf="!isAdmin">
            <button pButton type="button" icon="pi pi-check" label="Candidatar" class="p-button-success"
              (click)="inscricaoVaga(row)"></button>
          </td>
          <td width="10px" *ngIf="isAdmin">
            <button pButton type="button" class="p-button-secondary" icon="pi pi-pencil"
              [routerLink]="['/vagas/edit', row.id]"></button>
          </td>
          <td width="10px" *ngIf="isAdmin">
            <button pButton type="button" class="p-button-danger" icon="pi pi-trash"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>